<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionString>
		<add name="NLog" connectionString="Server=LAPTOP-R3P7DCQ0\\SQLEXPRESS;Initial Catalog=DealerAPI;Integrated Security=true;" providerName="System.Data.SqlClient"/>

		<!--connectionString="Server=LAPTOP-R3P7DCQ0\\SQLEXPRESS;Initial Catalog=DealerAPI;User ID=Dominik;Password=Dominik6000;"-->
	</connectionString>
</configuration>